*
{
margin:0px;
padding:0px;
}
body
{
font-family:Gill Sans MT;
}
.card
{
float:left;
display-inline:block;
width:20%;
background-color:green;
border-radius:5px;
margin-top:80px;
margin-right:140px;
margin-left:100px;
box-shadow:4px 4px 16px black;
}

.image
{align:center;}

.title
{
text-align:center;
padding:4px;
}
.desp
{
text-align:center;
}
button
{margin-top:30px;
margin-bottom:30px;
background-color:white;
border:1px solid black;
padding:5px;
cursor:pointer;
}
button:hover
{
background-color:black;
color:white;
transition:.5s;}
.card1
{
float:left;
display-inline:block;
width:20%;
background-color:green;
border-radius:5px;
margin-top:80px;
margin-right:140px;
margin-left:10px;
box-shadow:4px 4px 16px black;
}
.card2
{
float:left;
display-inline:block;
width:20%;
background-color:green;
border-radius:5px;
margin-top:80px;
margin-right:140px;
margin-left:0px;
box-shadow:4px 4px 16px black;
}
.card3
{
float:left;
display-inline:block;
width:20%;
background-color:green;
border-radius:5px;
margin-top:80px;
margin-right:140px;
margin-left:100px;
box-shadow:4px 4px 16px black;
}
.card4
{
float:left;
display-inline:block;
width:20%;
background-color:green;
border-radius:5px;
margin-top:80px;
margin-right:140px;
box-shadow:4px 4px 16px black;
}
.card5
{
float:left;
display-inline:block;
width:20%;
background-color:green;
border-radius:5px;
margin-top:80px;
margin-right:140px;
box-shadow:4px 4px 16px black;
}
.card6
{
float:left;
display-inline:block;
width:20%;
background-color:green;
border-radius:5px;
margin-top:80px;
margin-right:50px;
box-shadow:4px 4px 16px black;
}